/* this is body of all component */
.shop-container{
    
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap:20px;
}

/* this is for all single component */
.products-container{
/* background-color: antiquewhite; */
display: grid;
grid-template-columns: repeat(3,1fr);
gap:45px;
/* margin: 15px; */

}



/* this is right side component for calculation */
.cart-container{
background-color: rgb(243, 238, 231);
/* width: 500px; */
height: 480px;
border: 2px solid rgba(250, 215, 217, 0.808);
border-radius: 5px;
padding: 20px;

}
@media screen and (max-width:688px) {
    .shop-container{
        gap:30px;
    }
      .products-container{
    
            grid-template-columns: repeat(1,1fr);
        
          }    

          .cart-container{
            height: 390px;
          }
}

@media screen and (min-width:688px) and (max-width:1100px) {
    .cart-container{
        height: 390px;   
    }
    .shop-container{
        gap:40px;
    }
    .products-container{
    
        grid-template-columns: repeat(2,1fr);
    
      } 
}

@media screen and (min-width:1100px) {
     .products-container{

       grid-template-columns: repeat(3,1fr);
   
     }    
}